[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mock = "*"
patch = "*"
pytest = "*"
pylint = "*"
pyyaml = "*"

[dev-packages]
pycodestyle = "*"
invoke = "*"
pylint = "*"
pytest-cov = "*"

[requires]
python_version = "3"
